
/* Top Bar (always visible)*/

#top-bar-background {
  border-radius: 25px;
  background: var(--md-sys-color-surface-container-highest);
  padding: 5px;
  margin: 5px;
  margin-bottom: 0px;
}

#top-bar-content {
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
}

#top-bar-buttons {
  text-align: left;
  flex-grow: 1;
  height: fit-content;
}

#top-bar-title {
  height: fit-content;
  text-align: right;
  flex-grow: 1;
}

#top-bar-title h1{
  margin: 0px;
  color: var(--md-sys-color-on-surface-variant)
}

.flex-box {
  display: flex;
}

body {
  margin: 0px;
  background-color: var(--md-sys-color-background);
  height: 100%;
  /*! align-items: stretch; */
  display: flex;
  flex-flow: column;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

#content {
  flex-direction: column;
  align-items: stretch;
  /*! border: black 1px solid; */
  height: 100vh;
}

#main-content {
  justify-content: flex-end;
  flex-grow: 1;
  padding: 5px;

  /* border: black 1px solid; */
  height: 100%;
  align-self: auto;
}


#game-and-settings {
  flex-grow: 1;
  /* border: black 1px solid; */
  height: 100%;
  display: flex;
  flex-flow: column;
}

#game {
  flex-direction: column;
  width: fit-content;
  margin-top: 6%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  padding: 25px;
  border-radius: 25px;
}

#playingfield-scores {
  flex-grow: 1;
}

.player-side {
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-between;

}

.player-info-bit {
  margin: 10px;
} 

.player-1-side {
  margin-left: auto;
}

.player-2-side {
  margin-right: auto;
}

.key {
  display: flex;
  margin: 0px;
  flex-grow: 3;
  align-items: center;
}

.score {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-grow: 2;
}

.key-label {
  width: 70px;
  border: var(--md-sys-color-outline) solid 1px;
  color: var(--md-sys-color-outline);
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.key-label.player-1-side {
  text-align: right;
}

.key-label.player-2-side {
  text-align: left;
}
#playingfield {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: opx;
}
#info {
  text-align: center;
}


#debug-drawer {
  min-width: fit-content;
  display: none;
  padding: 25px;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-radius: 25px;
}


#debug-drawer h4 {
  margin: 0px;
  margin-top: 15px;
}

#debug-drawer p, h3 {
  margin: 0px;
}

#playingfield {
  background: var(--md-sys-color-surface-tint);
  border-radius: 20px;
}

/*Settings*/

#settings-drawer {
  margin: 25px;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: none;
  flex-flow: column;
  
  border-radius: 25px;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  padding: 25px;
  
}

#settings-content {
  display: flex;
  flex-flow: row;
}

#settings-headline {
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.settings-category {
  background-color: var(--md-sys-color-secondary-fixed);
  border: var(--md-sys-color-outline) 1px solid;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  max-width: fit-content;
  min-width: 150px;
  flex-grow: 1;
}

.settings-category-label {
  margin: 0px;
}

.settings-combo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.settings-label {
  margin-right: 25px;
}

.playmode-button {
  text-transform: capitalize;
}